<{include file="db:dgpd_header.htm"}>
<hr class="DGPDDisplaynone" />
<div id="DGPDMenu"><!-- DGPDMenu begin -->

</div><!-- DGPDMenu end -->
<hr class="DGPDDisplaynone" />
<div id="DGPDContent"><!-- DGPDContent begin -->

<ul id="DGPDRouter">
	<li id="DGPDRouterFirst"><a href="index.php" title="<{$tplvar.dgpd.title}>"><{$tplvar.dgpd.title}></a></li>
	<li><a href="manage.php?option=rvw" title="<{$smarty.const._MD_DGPD_MANAGE_RVWISSUE}>"><{$smarty.const._MD_DGPD_MANAGE_RVWISSUE}></a></li>
	<{if $tplvar.option == 'rvw'}>
	<li><a href="manage_review.php?iid=<{$tplvar.issue->iid}>" title="<{$smarty.const._MD_DGPD_MANAGEREVIEW_RVW}><{$tplvar.issue->ititle}>"><{$smarty.const._MD_DGPD_MANAGEREVIEW_RVW}><{$tplvar.issue->ititle}></a></li>
	<{/if}>
	<li><a href="<{$smarty.server.REQUEST_URI}>" title="<{$tplvar.title}>"><{$tplvar.title}></a></li>
</ul>

<div class="DGPDH2"><{$tplvar.title}></div>

<{if $tplvar.option == 'rvw'}>

<form id="DGPDForm" method="post" action="<{$smarty.server.REQUEST_URI}>" enctype="multipart/form-data">
<dl class="DGPDDlist">
	<dt><label for="DGPDFormArticlecid"><{$smarty.const._MD_DGPD_MANAGEREVIEW_CTBCATEGORY}></label></dt>
	<dd>
		<select id="DGPDFormArticlecid" name="cid" class="DGPDFMFormat">
		<{foreach from=$tplvar.categories item=category name=categories}>
		<option<{if !$category->ccanctb}> class="DGPDFormArticlecidCant"<{/if}> value="<{$category->cid}>"<{if $category->cid==$tplvar.article->cid}> selected="selected"<{/if}>>
		<{if $category->ccanctb}>[O]<{else}>[X]<{/if}>
		<{section loop=$category->level start=0 step=1 name=level}>--<{/section}>
		<{$category->ctitle}>
		</option>
		<{/foreach}>
		</select><br />
		<{$smarty.const._MD_DGPD_MANAGECONTRIBUTE_CTBCATEGORY_DESC}>
	</dd>
	<dt><label for="DGPDFormTitle"><{$smarty.const._MD_DGPD_MANAGEREVIEW_TITLE}></label></dt>
	<dd><input type="text" id="DGPDFormTitle" name="atitle" value="<{$tplvar.article->atitle}>" class="DGPDFMFormat" /></dd>
	<dt><label for="DGPDFormSubtitle"><{$smarty.const._MD_DGPD_MANAGEREVIEW_SUBTITLE}></label></dt>
	<dd><input type="text" id="DGPDFormSubtitle" name="asubtitle" value="<{$tplvar.article->asubtitle}>" class="DGPDFMFormat" /></dd>
	<dt><label for="DGPDFormAuthor"><{$smarty.const._MD_DGPD_MANAGEREVIEW_AUTHOR}></label></dt>
	<dd><input type="text" id="DGPDFormAuthor" name="aauthor" value="<{$tplvar.article->aauthor}>" class="DGPDFMFormat" /></dd>
	<{if !empty($tplvar.teachers)}>
	<dt><label for="DGPDFormTeacher"><{$smarty.const._MD_DGPD_MANAGEREVIEW_TEACHER}></label></dt>
	<dd>
		<select id="DGPDFormTeacher" name="atch_uid" class="DGPDFMFormat">
		<option value="0"<{if $tplvar.article->atch_uid == $teacher.uid}> selected="selected"<{/if}>><{$smarty.const._MD_DGPD_MANAGEREVIEW_NONE}></option>
		<{foreach from=$tplvar.teachers item=teacher name=teachers}>
		<option value="<{$teacher.uid}>"<{if $tplvar.article->atch_uid == $teacher.uid}> selected="selected"<{/if}>><{$teacher.uname}></option>
		<{/foreach}>
		</select>
	</dd>
	<{/if}>
	<dt><label for="DGPDFormTinymceContent0"><{$smarty.const._MD_DGPD_MANAGEREVIEW_CONTENT}></label></dt>
	<dd><textarea class="DGPDFormTinymceContent" id="DGPDFormTinymceContent0" name="acontent"><{$tplvar.article->acontent}></textarea></dd>
	<dt><{$smarty.const._MD_DGPD_MANAGEREVIEW_CONTRIBUTOR}></dt>
	<dd><{$tplvar.article->acontributor}></dd>
</dl>
<div class="DGPDH3"><{$smarty.const._MD_DGPD_MANAGEREVIEW_FILE}></div>
<ul id="DGPDFile">
	<{foreach from=$tplvar.article->file item=file name=files}>
	<li>
			<div class="DGPDFileThumbnail">
			<div class="DGPDThumbnail"><img src="<{$file->iconpath}>" title="<{$file->description}>" /></div>
			<a href="file.php?fid=<{$file->fid}>" title="<{$file->description}>"><{$file->file_name}></a><br />
			<{$smarty.const._MD_DGPD_MANAGEREVIEW_FILEDESCRIPTION}><br />
			<input type="text" name="fl_description[]" value="<{$file->description}>" class="DGPDFMFileDescription" /><br />
			<{$smarty.const._MD_DGPD_DELETE}>&nbsp;<input type="checkbox" name="fl_delete[]" value="<{$file->fid}>" /><br />
			<{$smarty.const._MD_DGPD_MANAGEREVIEW_DELETE_DESC}>
			<div class="DGPDThumbnailClear"></div>
			</div>
	</li>
	<{/foreach}>
</ul>
<{$smarty.const._MD_DGPD_MANAGEREVIEW_FILE_DESC}><br /><{$tplvar.filetyp_string}>
<ul id="DGPDFormFilefield">
	<li>
		<{$smarty.const._MD_DGPD_MANAGEREVIEW_FILESELECT}><input type="file" name="file[]" size="10" /><br />
		<{$smarty.const._MD_DGPD_MANAGEREVIEW_FILEDESCRIPTION}><input type="text" name="description[]" value="" />
	</li>
</ul>
<input id="DGPDFormFilefieldAdd" type="button" value="<{$smarty.const._MD_DGPD_MANAGEREVIEW_ADDFILEFIELD}>" />

<div class="DGPDH3"><{$smarty.const._MD_DGPD_MANAGEREVIEW_COMMENT}></div>
<dl class="DGPDDlist">
	<dt><label for="DGPDFormTinymceContent1"><{$smarty.const._MD_DGPD_MANAGEREVIEW_COMMENT}></label></dt>
	<dd><textarea class="DGPDFormTinymceContent" id="DGPDFormTinymceContent1" name="rcomment"><{$tplvar.article->rcomment}></textarea></dd>
	<dt><{$smarty.const._MD_DGPD_MANAGEREVIEW_RVWPASS}></dt>
	<dd>
		<input type="radio" id="DGPDFormPassNypass" name="rpass" value="0"<{if $tplvar.article->rpass == 0}> checked="checked"<{/if}> />
		<label for="DGPDFormPassNypass"><{$smarty.const._MD_DGPD_NYPASS}></label>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" id="DGPDFormPassNopass" name="rpass" value="1"<{if $tplvar.article->rpass == 1}> checked="checked"<{/if}> />
		<label for="DGPDFormPassNopass"><{$smarty.const._MD_DGPD_NOPASS}></label>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="radio" id="DGPDFormPassPassed" name="rpass" value="2"<{if $tplvar.article->rpass == 2}> checked="checked"<{/if}> />
		<label for="DGPDFormPassPassed"><{$smarty.const._MD_DGPD_PASSED}></label>
	</dd>
	<dd>
	<input type="submit" value="<{$smarty.const._MD_DGPD_SUBMIT}>" /><input type="reset" value="<{$smarty.const._MD_DGPD_RESET}>" />
	<input type="hidden" name="submitted" value="true" />
	</dd>
</dl>
</form>

<{else}>
<form id="DGPDForm" method="post" action="<{$smarty.server.REQUEST_URI}>" enctype="multipart/form-data">
<table id="DGPDTable">
<thead>
	<tr>
		<th id="DGPDTableTitle"><{$smarty.const._MD_DGPD_MANAGEREVIEW_TITLE}></th>
		<th id="DGPDTableAuthor" class="DGPDTableNowrap"><{$smarty.const._MD_DGPD_MANAGEREVIEW_AUTHOR}></th>
		<th id="DGPDTableTeacher" class="DGPDTableNowrap"><{$smarty.const._MD_DGPD_MANAGEREVIEW_TEACHER}></th>
		<th id="DGPDTableRpass" class="DGPDTableNowrap"><{$smarty.const._MD_DGPD_MANAGEREVIEW_RVWPASS}></th>
		<{if $tplvar.is_editors}>
		<th id="DGPDTableOperator" class="DGPDTableNowrap"></th>
		<{/if}>
	</tr>
</thead>
<{if $tplvar.is_editors}>
<tfoot>
	<tr>
		<td colspan="4">
		</td>
		<td>
		<input type="submit" value="<{$smarty.const._MD_DGPD_SUBMIT}>" />
		<input type="hidden" name="submitted" value="true" />
		</td>
	</tr>
</tfoot>
<{/if}>
<tbody>
	<{foreach from=$tplvar.articles item=article name=articles}>
	<tr class="<{if $article->rpass == 0}>DGPDReviewNypass<{elseif $article->rpass == 1}>DGPDReviewNopass<{elseif $article->rpass == 2}>DGPDReviewPassed<{/if}>">
		<td class="DGPDTableItem"><a href="manage_review.php?iid=<{$article->iid}>&aid=<{$article->aid}>" title="<{$article->atitle}>"><{$article->atitle}></a></td>
		<td class="DGPDTableNowrap"><{$article->aauthor}></td>
		<td class="DGPDTableNowrap"><{$article->ateacher}></td>
		<td class="DGPDTableNowrap"><{if $article->rpass == 0}><{$smarty.const._MD_DGPD_NYPASS}><{elseif $article->rpass == 1}><{$smarty.const._MD_DGPD_NOPASS}><{elseif $article->rpass == 2}><{$smarty.const._MD_DGPD_PASSED}><{/if}></td>
		<{if $tplvar.is_editors}>
		<td class="DGPDTableNowrap">
			<input type="hidden" name="article[]" value="<{$article->aid}>" />
			<{$smarty.const._MD_DGPD_MANAGEREVIEW_ORDER}><input type="text" name="article_order[]" class="DGPDFMFormatShort" value="<{$article->aorder}>" />
			&nbsp;<{$smarty.const._MD_DGPD_DELETE}><input type="checkbox" name="article_delete[]" value="<{$article->aid}>" /></td>
		<{/if}>
	</tr>
	<{/foreach}>
</tbody>
</table>
</form>
<{/if}>

</div><!-- DGPDContent end -->
<hr class="DGPDDisplaynone" />
<{include file="db:dgpd_footer.htm"}>